:root {
	--font-color: #2c3e50;
	--primary-color: rgb(62, 175, 124);
	--white-color: white;
}

body {
	min-height: 100vh;
	margin: 0;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	text-align: center;
	color: var(--font-color);
	min-height: 100vh;
}
